
<html>

<head>
<title>Introduction Page</title>
<base target="middle">
<link href="/Layout/soldov.css" rel="stylesheet" type="text/css" />
</head>

<h2 margin="0">
<img border="0" src="/Buttons/art.png" width="339" height="210">
</h2>

<body>
<p margin="50">Bienvenue à Soldov Publishing ! Ici, vous pouvez trouver tous les choses qui était publié par moi, Daniel Sozdashov. Pardon pour le desordre qui est ce site-web au moment, je ne suis pas un très doué sorcier de HTML ; le regardez seulement à votre risque. Ces mots en noirs sont pour seulement les personnes chouette qui comprends français ; les « losers » utilise les mots rougues.</p>
 
<p margin="50">Le premier attraction est au gauche : c'est La Revue de Vous, le centre de tous. Vous pouvez voir plus d'information si vous y cliquez. Sous le logo il y a des publications. Maintenant, il y a seulement les deux, mais chaque deux semaines il y va une autre publication.</p>
 
<p margin="50">À la droite il y a tous des autres choses : ils sont les choses qui n'étaient pas dans La Revue, pour une raison ou une autre. Peut-être ils ont été publié avant La Revue a commencé, ou ils sont des choses auxiliaires. Tout le même, j'éspere que vous allez vous amusez ! S'il vous plaît, si vous avez quelques choses à dire, dites-moi à <a target="main" href="mailto:soldovpublishing@gmail.com?Subject=Quelque%20Chose%20à%20Dire">soldovpublishing@gmail.com</a>. Si vous le voulez, je peux vous donner mon numéro de télé pour vous m'envoyez des textos.<br>
</body>

<h2 margin="0">
<img src="/Layout/line.svg" width="896" height="15">
</h2>

<anglais>
<p margin="50">Welcome to Soldov Publishing! Here, you can find the things that I publish by myself, Daniel Sozdashov. Sorry for the disorder which is this web site at the moment, I'm not a wizard of HTML; look at it only at your own risk. These red words are if you don't understand French, so that this can be accessible to as many people as possible. Translations are available throughout, and I plan to translate everything with a few exceptions. Sorry that not everything is translated yet, I'm working on that.</p>
 
 <p margin="50">The premier attraction is to the right: it's The Review of You, the center of all. You can see more information if you click there. Under the logo there are the publications. Now, there are only two, but every two weeks there will be another publication. These are not, as of yet, translated, but expect red text to be there shortly.</p>
 
 <p margin="50">To the left there are all the other things: they are the things that aren't in The Review, for one reason or another. Maybe they were published before The Review started, or they are auxiliary materials. All the same, I hope that you will amuse yourself! Please, if you have something to say, tell me at <a target="main" href="mailto:soldovpublishing@gmail.com?Subject=Something%20to%20Say">soldovpublishing@gmail.com</a>. If you want, I can give you my phone number for you to text me.
 
</anglais>

  <h2><img src="/Layout/line.svg" width="896" height="15"></h2>
	<h4><p align="center">Daniel Sozdashov<br><a target="main" href="/Layout/Main/process.html">My Process</a></p></h4>
<h2><img src="/Layout/line.svg" width="896" height="15"></h2>

</html>