
<html>

<head>
<title>Introduction Page</title>
<base target="middle">
<link href="/Layout/soldov.css" rel="stylesheet" type="text/css" />
</head>

<body>

<p align="center"><img border="0" src="Title.jpg" width="436" height="243"></p>

<p align="center"><img src="/Layout/line.svg" width="896" height="15"></p>
Bienvenue a Soldov Publishing ! Ici, vous pouvez trouver tous les choses qui etait publie par nous.
  <p align="center"><img src="/Layout/line.svg" width="896" height="15"></p>
	<h4> <p align="center">Daniel Sozdashov</p></h4>
<p align="center"><img src="/Layout/line.svg" width="896" height="15"></p>

</html>