<html>

<head>
<title>Autres</title>
<base target="contents">
<link href="/Layout/menu.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div align="center">
  <center>
  <table border="0" cellpadding="2">
    <tr>
      <td align="center">
	  <a target="main" href="/Autres/Mauvais1.html">
      <img border="0" src="/Buttons/Mauvais1.svg" width="200" height="50"></a></td>
    </tr>
    <tr>
      <td align="center">
      <A TARGET="main" HREF="/Autres/Mauvais2.html">
      <img border="0" src="/Buttons/Mauvais2.svg" width="200" height="50"></A></td>
    </tr
    <tr>
      <td align="center">
      <A TARGET="main" HREF="/Autres/enseignes1.pdf">
      <img border="0" src="/Buttons/Tour.svg" width="200" height="50"></A></td>
    </tr>
  </table>
  </center>
</div>

</body>
</html>